@font-face {
  font-family: DMSerif;
  src: url(/assets/Fonts/DMSerifText-Regular.ttf);
}

body {
  font-family: DMSerif !important;
  color: #198754;
}

h1 {
  font-family: DMSerif !important;
  color: #198754;
}